@import "./assets/css/variables";

.cardsPostFluid{
  padding-top:80px;
  padding-bottom:80px;

  .intro{
    h2{
      margin:0px 0px 20px 0px;
    }
    p{
      margin:0px;
    }
  }

  .mainCTA{
    margin-left:auto;
  }

}


.cardsPostFluid.Gray{
  background-color: $gray60;
}


@media screen and (max-width:767px){
  .cardsPostFluid{
    padding-top:40px;
    padding-bottom:40px;

    .mainCTA{
      margin-left:0px;
    }

  }
}