@import "./assets/css/variables";

.bannerFluid{
  padding-top:120px;
  padding-bottom:100px;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .intro{
    max-width:850px;
    margin:0px auto;
    text-align: center;
    h2{
      color:#fff;
      margin-top:0px;
    }
    p{
      color:#fff;
    }
  }

  .mainCTA{
    margin: 30px auto 0px auto;
  }
}

.bannerOver{
  background: $primaryFirst100;
  opacity: .8;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

@media screen and (max-width: 767px){
  .bannerFluid{
    padding-top:50px;
    padding-bottom:50px;
    background-attachment: inherit;
  }
}