@import "./assets/css/variables";


.contactFluid{
    padding-top:100px;
    padding-bottom:100px;
    background-color: $primaryFirst100;
    background-repeat: no-repeat;
    background-size: 600px;
    .maincopy{
        padding-right:100px;
        img{
            border-radius: 10px;
        }
        h2{
            color:#fff;
            margin-top:0px;
        }
        p{
            color:#fff;
        }
    }
}



.formLeft{
    width:50%;
    display: inline-block;
    padding:0px 10px;
}
.formRight{
    width: 50%;
    display: inline-block;
    padding:0px 10px;
    clear: both;
}
.formFull{
    padding:0px 10px;
}


.formWrapper{
    .gfield_required_text{
        display: none;
    }
    h2{
        color:#fff;
        font-size:36px;
        margin:0px 0px 0px 10px;
    }
    .gform-body{
        label{
            color:#fff;
            font-weight:600;
            margin-top:20px;
            display: table;
            font-size:16px;
        }
        input{
            width: 100%;
            padding:15px 10px;
            margin-top: 5px;
            border-radius:3px;
            box-shadow: none;
            border:1px solid $gray60;
            color:$gray90;
            background-color: #fff;
            &:focus{
                border:1px solid $primaryFirst80;
            }
        }
        textarea{
            width: 100%;
            padding:15px 10px;
            margin-top: 5px;
            border-radius:3px;
            box-shadow: none;
            border:1px solid $gray60;
            font-family: $font-stack;
            color:$gray90;
            background-color: #fff;
            max-height:150px;
            &:focus{
                border:1px solid $primaryFirst80;
            }
        }
    }
    .gform_footer{
        padding:0px 10px;
    }
    .gform_button{
        padding: 10px;
        font-size: 14px;
        color: #fff;
        border: 2px solid $primaryFirst80;
        font-weight: 600;
        text-align: center;
        border-radius: 25px;
        cursor: pointer;
        width: 140px;
        margin-top: 20px;
        background-color: $primaryFirst80;
        &:hover{
            background-color: $primaryFirst70;
        }
    }
    .hide_summary{
        display: none;
    }
    .validation_message{
        color: #fff;
        font-size: 12px;
    }
    .gfield_error input{
        border:1px solid $primarySecond90;
    }
    .gfield_error textarea{
        border:1px solid $primarySecond90;
    }
    .instruction.validation_message{
        display: none;
    }
    .hidden_label label{
        display: none;
    }
}


@media screen and (max-width:991px){

    .contactFluid{
        padding-top:40px;
        padding-bottom:40px;
        .maincopy{
            padding-right:0px;
        }
    }

    .formWrapper{
        h2{
            margin-left:0px;
        }
    }

    .formLeft{
        width:100%;
        padding:0px;
    }
    .formRight{
        width: 100%;
        padding:0px;
    }
    .formFull{
        padding:0px;
    }

}



