@import "./assets/css/variables";

.cardsTextFluid{
  padding-top:120px;
  padding-bottom:120px;

  .intro{
    max-width:680px;
    text-align: center;
    margin:0px auto;
    h2{
      margin-top:0px;
    }
    .mainCTA{
      margin:20px auto;
      display: table;
    }
  }
}

.cardsTextFluid.Gray{
  background-color: $gray60;
}


.cardText{
  text-decoration: none;
  color:$primaryFirst100;
  box-shadow: 0px 1px 4px rgba(51, 50, 48, 0.25098);
  border-radius: 6px;
  padding: 30px 32px;
  display: flex;
  flex-direction: column;
  flex:1 1 auto;
  background-color: $gray0;
  border-top:10px solid $primaryFirst80;

  &:hover{
    box-shadow: 0px 4px 16px rgba(51, 50, 48, 0.25098);
    .learnMore{
      color:$primaryFirst100;
    }
  }

  h2{
    color:$primaryFirst100;
    margin-top:0px;
  }

  p{
    color:$gray90;
  }

  .preHeadline{
    color:$gray80;
    font-size:14px;
  }

  p{
    line-height: 160%;
    margin-top: 0px;
  }

  .learnMore{
    color:$primaryFirst80;
    font-weight:600;
    margin-bottom:0px;
    margin-top: auto;
    span{
      margin-left:7px;
    }
  }
}

@media screen and (max-width:767px){
  .cardsTextFluid{
    padding-top:40px;
    padding-bottom:40px;
  }
}