@import "variables";


/* General */
body{
  font-family: $font-stack;
  background: $gray0;
  color:$gray90;
}
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}
html, body {
  margin: 0;
  padding: 0;
}

/* H Tags */
h1, h2, h3, h4, h5, h6{
  font-family: $font-stack-header;
  font-weight:700;
}


/* Main Copy */
.maincopy{
  line-height:160%;

  img{
    display: block;
    flex: 0 0 auto;
    max-width: 100%;
    height: auto;
    width: 100%;
    *width: auto;
  }

  h1{
    color: $gray100;
    margin-top:0px;
    margin-bottom:30px;
    font-size:42px;
    line-height: 120%;
  }

  h2{
    color: $gray100;
    margin-bottom:30px;
    margin-top:30px;
    font-size:42px;
    font-weight: 400;
    line-height: 135%;
  }
  h3{
    color: $gray100;
    margin-bottom:30px;
    margin-top:30px;
    font-size: 32px;
    line-height: 120%;
  }
  h4{
    color: $gray100;
    margin-bottom:30px;
    margin-top:30px;
    font-size: 24px;
    line-height: 120%;
  }
  p, ul li, ol li{
    font-size: 17px;
    font-weight: 400;
    line-height: 150%;
    margin-top:0px;
    margin-bottom:20px;
    color:$gray100;
  }
  ul{
    padding:0px;
  }
  ul li{
    list-style-type:none;
    margin-bottom: 10px;
    padding-left:20px;
  }
  ul li::before {
    content: "\2022";
    color: $gray80;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: 0px;
    position:absolute;
    left: 20px;
  }
  a{
    text-decoration: underline;
    font-weight: 600;
    color: $gray80;
  }
  a:hover{
    color: $gray60;
  }
}


/* Core Blocks and WP Styles */
.coreColumn{
  padding:0px 15px;
}

.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float:right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.wp-caption {
  background: $gray0;
  border: 1px solid #f0f0f0;
  max-width: 96%; /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

.wp-block-quote{
  background-color: #e7e7e7;
}

.wp-block-button__link{
  background: #3220f8;
  color: $gray0 !important;
  border: 2px solid #3220f8;
  padding: 10px 30px;
  border-radius: 25px;
  margin: 10px 0px;
  text-decoration: none !important;
}





/* Header Styles & Main Logo */
.mainLogo{
  margin-left: 15px;
  max-width: 57px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#navDesktop{
  background: $gray0;
}
#navTablet{
  display: none;
  background-color: $gray0;
}
.mobilemenuwrapper{
  display: none;
}
.mobilePhone{
  color: $gray100;
  font-size:30px;
  margin-left:auto;
  display: table;
}
.mobileLogo{
  height: 60px;
  margin:10px auto;
}

.headerRight{
  text-align: right;
  .mainCTA{
    display: inline-block;
    vertical-align: middle;
  }
  .careersLink{
    display: inline-block;
    color:$gray100;
    text-decoration: none;
    margin:0px 20px;
  }
}




/* CTAs */
.mainCTA{
  display: table;
  padding:10px 30px;
  border-radius:0px;
  font-weight: 600;
  text-decoration: none;
  border:2px solid;
  span{
    margin-left:5px;
  }
}
.cta1{
  color: $violet100;
  border:2px solid $violet100;
  &:hover{
    background: $violet100;
    color:$gray0;
  }
}
.cta2{
  background-color: $violet100;
  color: $gray0;
  border:2px solid $violet100;

  &:hover{
    background: $gray0;
    color:$violet100;
  }
}
.cta3{
  color:$gray80;
  border:2px solid $gray80;
  &:hover{
    color: $gray100;
    border:2px solid $gray100;
  }
}







/* Navigation menu */
.main-navigation:before,
.main-navigation:after {
  content: " ";
  display: table;
}
.main-navigation:after {
  clear: both;
}

.main-navigation {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  justify-content: center;
  margin:0px;
  padding:0px;

  .dropdown-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 10;
    border-radius: 10px;
    overflow: hidden;
  }
  li {
    position: relative;
    display: flex;
    flex-grow: 1;
    justify-content: center;
  }
  li a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    white-space: nowrap;
    color: $gray100;
    font-weight: 600;
    font-size:17px;
    line-height: 150%;
  }
  li a:hover {
    color: $violet100;
    text-decoration: none;
  }
  li:hover > ul {
    display: inherit;
  }
  li:hover li {
    float: none;
  }
  ul ul {
    left: 100%;
    top: 0;
    border-top:none;
  }
  .fa-chevron-down{
    font-size:12px;
    margin-left: -5px;
    position: absolute;
    margin-top: 5px;
    color: $gray100;
  }
}
.parentlink{
  color: $gray80 !important;
  text-decoration: underline !important;
}

/* Drop Down Menu */
.dropdown-menu{
  display:none;
  transform-origin: center top 0;
  transition: all .1s ease 0s;
  box-shadow: 0px 6px 24px rgba(51, 50, 48, 0.25098);
  position: absolute;
  min-width: 225px;
  padding-top:10px !important;
  padding-bottom:10px !important;
  background-color: #fff;
}

.dropdown-menu{
  li a{
    background-color: $gray0;
    color: $gray90 !important;
    font-size:16px;
    text-decoration: none !important;
    padding: 10px 20px;
  }
  li a:hover{
    background-color:$gray80;
    color:#fff !important;
    text-decoration: none !important;
  }
}



/* Hamburger Styles */
.mburger{color: $gray100;}
.mburger{
  strong{
    border-radius:0px;
  }
  :hover, :focus, :active{
    color:$gray100;
  }
}
.mm-menu {
  --mm-color-background: #fff;
  --mm-color-text: #000;
}


/* Alert */
.alertBanner{
  background-color:$error;
  display: none;
  p{
    font-size:14px;
    margin:0px;
    display: inline-block;
    color:$gray0;
    vertical-align: middle;
  }
  .icon{
    display: inline-block;
    color:$gray0;
    margin-right:5px;
    font-size:20px;
    vertical-align: middle;
  }
}
#closeBanner{
  color:#fff;
  position: absolute;
  right:0px;
  top: 14px;
  font-size:24px;
  cursor: pointer;
}



/* Footer */


.footerFluid{
  background: $gray0;
  padding-top:40px;
  padding-bottom:20px;
  .footerTitleLeft{
    font-weight:bold;
    font-size:20px;
    margin-top:0px;
    margin-bottom:10px;
  }
  .left{
    p{
      line-height: 160%;
      color:$gray90;
      max-width:350px;
      margin-top:0px;
    }
    .mainCTA{
      margin:25px 0px;
    }
  }
  .menuTitle{
    font-weight:700;
    font-size:18px;
    color:$gray90;
    margin-top:0px;
    text-transform: uppercase;
  }
}

/* Footer Menu*/
.FooterMenu{
  padding:0px;
  list-style-type: none;
  li{
    margin-bottom:15px;
    a{
      font-weight: 300;
      color:$gray90;
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}



/* Footer Copyright */
.footerCopyFluid{
  padding-top:10px;
  padding-bottom:10px;
  background-color:purple;
}


.copyRightText{
  font-size:14px;
  margin:0px;
  color:$gray0;
  line-height: 140%;
  display: inline-block;
}

.copyrightmenu{
  padding:0px;
  list-style-type: none;
  margin:0px;
  display: inline-block;
  li{
    display: inline-block;
    padding:0px 3px;
  }
  li a{
    font-size:14px;
    color:$gray0;
  }
}

.footerAddress{
  margin:0px;
  line-height: 160%;
  color:$gray90;
}



/* Footer Newsletter */
.newsLetterBanner{
  background-color:$violet100;
  padding-top:100px;
  padding-bottom:100px;
  h2{
    color:$gray0;
    margin-top:0px;
  }
  p{
    color:$gray0;
    line-height: 160%;
    margin-bottom:0px;
  }
}
.newsLetterForm{
  margin-top:20px;
  max-width:500px;
  form{
    display: flex;
    align-items: flex-end;
  }
  label{
    color:$gray0;
    font-size:14px;
    margin-bottom:5px;
    display: table;
    .gfield_required{
      display: none;
    }
  }
  input{
    padding:10px;
    height:40px;
  }
  #input_1_1{
    width:97%;
  }
  .gform_body{
    flex-grow: 1;
  }
  .gform_button{
    cursor: pointer;
    background-color:$lime100;
    border:none;
    padding:0px 20px;
    font-weight:600;
  }
  .gfield_validation_message{
    color:$gray0;
    font-size: 12px;
    position: absolute;
    margin-top: 5px;
    text-transform: uppercase;
    font-weight: 600;
  }
  .gform_submission_error{
    display: none;
  }
}



/* Social Icons */
.socialFooter{
  display:$gray80;
  margin-top:40px;
}
.socialFooter a{
  background:purple;
  color: $gray80;
  font-size:18px;
  margin:0px 3px;
  width:30px;
  height:30px;
  border:1px solid $gray80;
  border-radius:50%;
  display: inline-block;
  text-align: center;
  padding-top: 4px;
  &:hover{
    color: $gray100;
    border:1px solid $gray100;
  }
}


/* Search Results */
.searchBox{
  border:2px solid $gray80;
  padding:30px;
  margin-bottom: 30px;
  h2{
    margin-top:0px;
  }
}
.searchContainer{
  padding-bottom: 30px;
}




/* Pagination Navigation */
.navigation {
  text-align: center;
  ul{
    list-style-type: none;
    padding:0px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  ul li{
    display: inline-block;
    padding:0px 3px;
  }
  ul .active a{
    color:$gray100;
    background-color: transparent;
  }
  ul li a{
    background-color: $gray80;
    color: $gray0;
    text-decoration: none;
    padding:5px 10px;
    border-radius:5px;
    font-weight: 600;
  }
}








/* Site Search Form */
.searchForm{
  position: relative;
  width: 359px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  vertical-align: middle;
  input{
    height:46px;
    width: 100%;
    background-color: $snow40;
    border: 1px solid $snow80;
    padding: 10px 16px;
    border-radius: 0px;
    color:$gray100;
    font-size:16px;
  }
  button{
    position: absolute;
    right: 0;
    margin-right: 5px;
    border: none;
    background: none;
    font-size:18px;
    top: 12px;
    color:$violet100;
  }
  input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $gray100;
    opacity: 1; /* Firefox */
  }

  input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $gray100;
  }

  input::-ms-input-placeholder { /* Microsoft Edge */
    color: $gray100;
  }
}






/* Menu Tablet */
@media screen and (max-width:1199px){
  #navDesktop{
    display: none;
  }
  #navTablet{
    display: inherit;
  }
  .mainLogo{
    margin:0px auto;
  }
}


/* Mobile */
@media screen and (max-width:767px){
  .footerFluid{
    padding-top:30px;
    padding-bottom:20px;
    .left{
      p{
        max-width:100%;
      }
    }
  }
  .socialFooter{
    margin-top:10px;
  }
  .newsLetter {
    max-width: 100%;
  }
  .maincopy h2{
    font-size:30px;
  }
  .footerLogo{
    max-width:150px;
    margin-bottom:20px;
  }
  .socialShare{
    position: relative;
    background-color: transparent;
    a{
      display: inline-block;
    }
  }
}


